<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script src="/static/lib/jquery-1.11.0.min.js"></script>
        <script src="/static/main.js"></script>
    </head>
    <body class="main-center">
        {{{body}}}
    </body>
</html>